.icon {
  color: var(--color-dark);
}

.icon.xs-extrasmall {
  font-size: .8rem;
}

.icon.xs-small {
  font-size: 1.6rem;
}

.icon.xs-medium {
  font-size: 2.4rem;
}

.icon.xs-large {
  font-size: 3.2rem;
}

@media screen and (min-width: 786px) {
  .icon.md-extrasmall {
    font-size: .8rem;
  }

  .icon.md-small {
    font-size: 1.6rem;
  }

  .icon.md-medium {
    font-size: 2.4rem;
  }

  .icon.md-large {
    font-size: 3.2rem;
  }
}
